body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.div1{
  width: auto;
  height: 10vh;
  background-color: black;
  display: flex;
  padding-left: 20px;
}
.div1{
  display: flex;
}
input{
  width: 60%;
  height: 40px;
  align-self: center;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.yared{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
  font-style: italic;
  padding-left: 20px;
  margin-right: 50px;
  align-self: center;
  border-radius: 40px;
  cursor: pointer;
  background-color: white;
  border: 3px dotted white;
  font-weight: bold;
 text-decoration: underline;
 text-decoration-style: dotted;
 text-decoration-color: #FF7F50;
 padding-right: 20px;
}
.yared:hover{
  border: 3px dotted orange;
}
.search-button{
  height: 42px;
  align-self: center;
  border: none;
  background-color: #FF7F50;
  border-color: yellow;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  margin-right: 30px;
}
.search-input{
  padding-left: 20px;
  font-size:15px;
}
.return-orders{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  align-self: center;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  margin-right: 40px;
  font-weight: bold;
  padding: 7px;
  text-decoration: none;
}
.return-orders:hover{
  border-color: white;
 }
 .cart:hover{
  border-color: white;
 }
.cart{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  align-self: center;
  background-color: black;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  padding: 7px;
  text-decoration: none;
}
.div2{
  padding-left: 220px;
  padding-top: 25px;
}
.order-text{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}
.order-inside{
  display: grid;
  grid-template-columns: 150px 400px 400px;
  background-color: ghostwhite;
  margin-bottom: 40px;
  padding-left: 20px;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
img{
  height: 100px;
  width: 100px;
}
.orders-other {
  display: grid;
  grid-template-columns: 150px 400px 400px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-container p {
  margin: 0; 
}

.text-container button {
  margin-top: 10px; 
}

.button-container button {
  margin-top: 0px; 
  width:200px;
  height: 35px;
  background-color: white;
  border-radius: 7px;
  border-color: azure;
  cursor: pointer;
}
.buy-button{
  background-color: beige;
  width:150px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
}

.order-outside>.order-inside{
  border-bottom: 1px solid rgba(0, 0, 0 ,0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;


}
.order-outside{
  margin-right: 150px;
  border: 1px solid rgba(0, 0, 0 ,0.1);
  border-radius: 5px;
  

}
